*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #002339;
    color: #fff;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.copy-img1 .copy-img{
    height: 28px;
    width: 28px;
    fill: #019F55;
    cursor: pointer;
}
.dispaly{
    color: #333;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px;
    border-radius: 5px;
}
.dispaly input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.container h1{
    font-weight: 500;
    font-size: 48px;
}

.container h1 span{
    color: #019F55;
    font-weight: 500;
    font-size: 48px;
    border-bottom: 3px solid #019F55;
    padding-bottom: 4px;
}
.container button{
    border: 0;
    outline: 0;
    background: #019F55;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}